# general packages
notebook

# kevin's packages
tdqm
ipywidgets
widgetsnbextension 
scipy

# min's packages
pandas-profiling
emot
spacy
vaderSentiment
nltk

# pingping's packages
sklearn
tvdatafeed
keras
tensorflow

# julian's packages
statsmodels
pandas_ta
nltk